<nav class="navbar navbar-expand-md navbar-danger bg-danger fixed-top">



  <a class="navbar-brand" href="#">Cards Deck</a>
</nav>


<div class="container">
  <div class="cards-container">
    <div class="row">
      <div class="col-sm-9">
        <div>
          <app-cards></app-cards>
        </div>
      </div>
      <div class="col-sm-3 right-panel">
        <p>Technology</p>
        <ul>
          <li>Angular 5</li>
          <li>Bootstrap</li>
          <li>Html 5</li>
          <li>CSS 3</li>
        </ul>
        <p>Features</p>
        <ul>
          <li>Draw</li>
          <li>Shuffle</li>
          <li>Sort</li>
          <li>Drag & Drop</li>
        </ul>
        <p>Developer: <b>Mohmmad Farooq</b></p>
        <p>I have 14 years of experience in software development, having strong skills in system architecture design and implementation of 
          Enterprise Web and desktop applications. <a href="https://www.linkedin.com/in/mohmmadfarooq" target="_blank"> More...</a></p>
        <p><a href="#" target="_blank">Source Code</a></p>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="inner">
  </div>
</footer>